*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #483D8B;
    height: 70px;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}
.transparent {
    background: transparent;
    border: 0;
}

.lupa {
    width: 34px;
    height: 17px;
    margin: 10px;
}

.pesquisar{
    margin-bottom: 20px;
    margin-top: 8px;
    width: 300px;
    padding: 10px;
    display: block;
    margin-left: auto;
}

.logo{
    width: 60px;
    height: 60px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgxp{
    width: 22rem;
    float: left;
}

.text{
    font-size: 0.9rem;
}

.com-sm-8{
    float: left;
}
.col-sm-4{
    background-color: #bdbebd;
    object-position: center;
}

h1{
    font-size: 2rem;
}

p{
    font-size: 0.5rem;
}

.align-text{
    margin-left: 22.5rem;
}

.container{
    margin-top: 1rem;
}

footer{
    width: 100%;
    height: 70px;
    background-color:#483D8B;
    margin-top: 50px;
}
